@import "./variables";
@import "./functions";

.header {
	background: url(https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80)
		no-repeat center;
	background-size: cover;
	position: relative;
	justify-self: left;
	width: 40%;
	color: $colorWhite;
	text-align: center;
	h1 {
		@include flexCenter();
		background: rgba(0, 0, 0, 0.45);
		width: 100%;
		font-family: Norse;
		font-size: 90px;
		padding: 12px 0 10px 0;
		margin: 42% 0 116% 0;
	}
	img {
		height: 120px;
	}
	p {
		font-family: $fontArial;
		font-size: 13px;
		margin-left: 20px;
	}
}
