@import url(//db.onlinewebfonts.com/c/7d460b18433753a097e5bc2bad7c8dd9?family=Norse);
@import "./variables";
@import "./header";
@import "./content";
@import "./functions";

@font-face {
	font-family: "Norse";
	src: url("//db.onlinewebfonts.com/t/7d460b18433753a097e5bc2bad7c8dd9.eot");
	src: url("//db.onlinewebfonts.com/t/7d460b18433753a097e5bc2bad7c8dd9.eot?#iefix")
			format("embedded-opentype"),
		url("//db.onlinewebfonts.com/t/7d460b18433753a097e5bc2bad7c8dd9.woff2")
			format("woff2"),
		url("//db.onlinewebfonts.com/t/7d460b18433753a097e5bc2bad7c8dd9.woff")
			format("woff"),
		url("//db.onlinewebfonts.com/t/7d460b18433753a097e5bc2bad7c8dd9.ttf")
			format("truetype"),
		url("//db.onlinewebfonts.com/t/7d460b18433753a097e5bc2bad7c8dd9.svg#Norse")
			format("svg");
}

html,
body {
	background: rgba(0, 0, 0, 0.95);
	@include flexCenter();
	height: 100%;
}

a {
	cursor: pointer;
}

.container {
	display: flex;
	max-width: 71vw;
	height: 100vh;
}
